<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name=viewport content="width=device-width, initial-scale=1.0">
    <title>Pushkar Anand: The geek who codes</title>
    <meta name=author content="Pushkar Anand">
    <meta name=keywords content="Pushkar Anand, Pushkar, Anand"/>
    <meta http-equiv=x-ua-compatible content="ie=edge">
    <meta name=theme-color content="#1881f2">
    <meta name=description
          content="A programmer trying to create a mark on the world. Currently pursuing his engineering in computer science he wishes to do something exciting in his life ">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="/css/w3.css" rel="stylesheet" type="text/css"/>
    <link href="/css/home.css" rel="stylesheet" type="text/css"/>

</head>
<body>
<header>
    <nav id="burger-menu" role="navigation">
        <label>
            <input type='checkbox'>
            <span class='menu'>
    <span class='hamburger'></span>
  </span>
            <ul>
                <li>
                    <a href='#'>Home</a>
                </li>
                <li>
                    <a href='#'>About</a>
                </li>
                <li>
                    <a href='#'>Work</a>
                </li>
            </ul>
        </label>
    </nav>

    <div id="header-text">
        <h1>Pushkar Anand</h1>
        <h2>The geek who <i class="fas fa-heart" style="color: red;"></i> to code.</h2>
    </div>

    <nav id="side-nav">
        <ul>
            <li>
                <a href='#about'>About<span>who am i</span></a>
            </li>
            <li>
                <a href='#'>Experience<span>past experiences</span></a>
            </li>
            <li>
                <a href='#'>Projects<span>my personal projects</span></a>
            </li>
            <li>
                <a href='#'>Contact<span>send me a word</span></a>
            </li>
        </ul>
    </nav>


    <div id="social">

    </div>
</header>

<main>
    <div class="w3-container w3-section" id="about">
        <h2>About intro headline</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tincidunt, nulla quis ornare egestas, odio
            lectus
            vehicula nisi, quis volutpat tellus mi vitae quam. Integer sit amet elit luctus ante aliquet porttitor sit
            amet
            et nisl. Vestibulum ac maximus arcu. Ut at tincidunt risus. Aliquam vel diam rhoncus, efficitur tortor ac,
            efficitur risus. Cras interdum eget felis in ullamcorper. Suspendisse ac magna rutrum, pharetra urna vitae,
            condimentum libero. In libero turpis, ornare ac viverra sed, consectetur quis lectus. Curabitur a dapibus
            nibh.
            Donec tellus orci, ultricies ut malesuada id, scelerisque vel velit. Vestibulum et commodo risus, vitae
            volutpat
            tellus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tincidunt, nulla quis ornare egestas, odio
            lectus
            vehicula nisi, quis volutpat tellus mi vitae quam. Integer sit amet elit luctus ante aliquet porttitor sit
            amet
            et nisl. Vestibulum ac maximus arcu. Ut at tincidunt risus. Aliquam vel diam rhoncus, efficitur tortor ac,
            efficitur risus. Cras interdum eget felis in ullamcorper. Suspendisse ac magna rutrum, pharetra urna vitae,
            condimentum libero. In libero turpis, ornare ac viverra sed, consectetur quis lectus. Curabitur a dapibus
            nibh.
            Donec tellus orci, ultricies ut malesuada id, scelerisque vel velit. Vestibulum et commodo risus, vitae
            volutpat
            tellus.</p>
    </div>

    <br/><br/><br/><br/>

    <div class="w3-container w3-section" id="skills">
        <h2>My Passionate SKILLS</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tincidunt, nulla quis ornare egestas, odio
            lectus
            vehicula nisi, quis volutpat tellus mi vitae quam. Integer sit amet elit luctus ante aliquet porttitor sit
            amet</p>
        <br/>

        <div class="w3-row" id="wrapper">

            <div class="w3-container w3-quarter skill-list" id="skill-set-a">
                <h3>Backend Development</h3>
                <h3>RESTful Apis</h3>
                <h3>PHP</h3>
                <h3>Laravel</h3>
                <h3>Symfony</h3>
                <h3>Javascript</h3>
                <h3>jQuery</h3>
                <h3>Node.js</h3>
                <h3>Express</h3>
            </div>

            <div class="w3-container w3-quarter skill-list" id="skill-set-b">
                <h3>Android Development</h3>
                <h3>Desktop Applications</h3>
                <h3>CLI tools development</h3>
                <h3>C++</h3>
                <h3>Java</h3>
                <h3>Python</h3>
                <h3>Go</h3>
                <h3>Kotlin</h3>
            </div>

            <div class="w3-container w3-quarter skill-list" id="skill-set-c">
                <h3>Linux Admin</h3>
                <h3>AWS</h3>
                <h3>Apache</h3>
                <h3>MySQL</h3>
                <h3>PostgreSQL</h3>
                <h3>MongoDB</h3>
                <h3>Redis</h3>
                <h3>Firebase</h3>
                <h3>Heroku</h3>
            </div>

            <div class="w3-container w3-quarter skill-list" id="skill-set-d">
                <h3>Algorithms & Data Structures</h3>
                <h3>Git</h3>
                <h3>JSON</h3>
                <h3>Oauth 2.0</h3>
            </div>
        </div>

    </div>

    <br/><br/><br/><br/>

    <div class="w3-container w3-white w3-section" id="experience">
        <h2>My Past EXPERIENCES</h2>
        <div class="w3-row">
            <div class="w3-half ">

                <div class="w3-container w3-margin w3-card-4 w3-teal inner">

                    <h3>Server Administrator and Web Developer</h3>
                    <h4><a href="https://adversize.in" target="_blank" rel="noopener external">Adversize Pvt. Ltd.</a>
                    </h4>
                    <p class="w3-center">March, 18 - Present</p>
                    <div>
                        <button class="w3-button w3-right" onclick="displayDetails('adversize');">Details</button>
                        <div id="adversize" class="w3-hide w3-animate-zoom">
                            <h4>Involved in:</h4>
                            <ul class="w3-ul">
                                <li>Desiging a suitable AWS architecture for the stack.</li>
                                <li>Migration of whole stack to AWS.</li>
                                <li>Using AWS DevOPs tools to automate deployment.</li>
                                <li>Managing and maintaing AWS EC2 linux instances.</li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>

            <div class="w3-half">

                <div class="w3-container w3-margin w3-card-4 w3-yellow inner">

                    <h3>Server Administrator and Web Developer</h3>
                    <h4><a href="https://omniaparatus.co.in/" target="_blank" rel="noopener external">Omnia Paratus</a>
                    </h4>
                    <p class="w3-center">June, 18 - Present</p>
                    <div>
                        <button class="w3-button w3-right" onclick="displayDetails('omnia');">Details</button>
                        <div id="omnia" class="w3-hide w3-animate-zoom">
                            <h4>Involved in:</h4>
                            <ul class="w3-ul">
                                <li>Desiging a suitable AWS architecture for the stack.</li>
                                <li>Migration of whole stack to AWS.</li>
                                <li>Using AWS DevOPs tools to automate deployment.</li>
                                <li>Managing and maintaing AWS EC2 linux instances.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="w3-container w3-section" id="projects">

        <h2>My Projects</h2>

        <div class="w3-row">

            <div class="w3-third">
                <div class="w3-container w3-card-4 w3-margin ">
                    <img src="img_snowtops.jpg" alt="Norway" style="width:100%" />
                    <div class="w3-container  w3-center project-title">
                        <p class="bold">The Italian / Austrian Alps</p>
                    </div>
                    <div class="project-description">
                        et nisl. Vestibulum ac maximus arcu. Ut at tincidunt risus. Aliquam vel diam rhoncus, efficitur tortor ac,
                        efficitur risus. Cras interdum eget felis in ullamcorper. Suspendisse ac magna rutrum, pharetra urna vitae,
                        condimentum libero. In libero turpis, ornare ac viverra sed, consectetur quis lectus. Curabitur a dapibus
                        nibh.
                    </div>
                    <div class="project-link">
                        LINK
                    </div>
                </div>
            </div>

            <div class="w3-third">
                <div class="w3-container w3-card-4 w3-margin ">
                    <img src="img_snowtops.jpg" alt="Norway" style="width:100%" />
                    <div class="w3-container  w3-center project-title">
                        <p class="bold">The Italian / Austrian Alps</p>
                    </div>
                    <div class="project-description">
                        et nisl. Vestibulum ac maximus arcu. Ut at tincidunt risus. Aliquam vel diam rhoncus, efficitur tortor ac,
                        efficitur risus. Cras interdum eget felis in ullamcorper. Suspendisse ac magna rutrum, pharetra urna vitae,
                        condimentum libero. In libero turpis, ornare ac viverra sed, consectetur quis lectus. Curabitur a dapibus
                        nibh.
                    </div>
                    <div class="project-link">
                        LINK
                    </div>
                </div>
            </div>

            <div class="w3-third">
                <div class="w3-container w3-card-4 w3-margin ">
                    <img src="img_snowtops.jpg" alt="Norway" style="width:100%" />
                    <div class="w3-container  w3-center project-title">
                        <p class="bold">The Italian / Austrian Alps</p>
                    </div>
                    <div class="project-description">
                        et nisl. Vestibulum ac maximus arcu. Ut at tincidunt risus. Aliquam vel diam rhoncus, efficitur tortor ac,
                        efficitur risus. Cras interdum eget felis in ullamcorper. Suspendisse ac magna rutrum, pharetra urna vitae,
                        condimentum libero. In libero turpis, ornare ac viverra sed, consectetur quis lectus. Curabitur a dapibus
                        nibh.
                    </div>
                    <div class="project-link">
                        LINK
                    </div>
                </div>
            </div>

        </div>


    </div>

</main>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/js/social.js" defer></script>

<script>
    let displayDetails = function (id) {
        var x = document.getElementById(id);
        if (x.className.indexOf("w3-show") === -1) {
            x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
    }
</script>
</body>
</html>