<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->
<html lang="en">
<head>
    <!--Basic Meta-->
    <meta charset="UTF-8">
    <meta name=viewport content="width=device-width, initial-scale=1.0">
    <title>Pushkar Anand: The geek who codes</title>
    <meta name=author content="Pushkar Anand">
    <meta name=keywords content="Pushkar Anand, Pushkar, Anand"/>
    <meta http-equiv=x-ua-compatible content="ie=edge">
    <meta name=description
          content="A programmer trying to create a mark on the world. Currently pursuing his engineering in computer science he wishes to do something exciting in his life.">

    <!--Webfonts and CSS-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="/css/w3.css" rel="stylesheet" type="text/css"/>
    <link href='https://fonts.googleapis.com/css?family=Asul|Calligraffitti' rel='stylesheet'>
    <link href="/css/home.css" rel="stylesheet" type="text/css"/>

    <!--Favicons-->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#635f5f">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!--OGs-->
    <meta property="og:image:width" content="279">
    <meta property="og:image:height" content="279">
    <meta property="og:description"
          content="A programmer trying to create a mark on the world. Currently pursuing his engineering in computer science he wishes to do something exciting in his life.">
    <meta property="og:title" content="Pushkar Anand: The geek who codes">
    <meta property="og:url" content="https://pushkaranand.me">
    <meta property="og:image" content="https://pushkaranand.me/images/og/og-image.jpg">

    <script src='https://www.google.com/recaptcha/api.js' async defer></script>
</head>
<body>
<header id="top">
    <nav id="burger-menu" role="navigation">
        <label>
            <input type='checkbox'>
            <span class='menu'>
    <span class='hamburger'></span>
  </span>
            <ul>
                <li>
                    <a href='#'>Home</a>
                </li>
                <li>
                    <a href='#'>About</a>
                </li>
                <li>
                    <a href='#'>Work</a>
                </li>
            </ul>
        </label>
    </nav>

    <div id="header-text">
        <h1>Pushkar Anand</h1>
        <h2>The geek who <i class="fas fa-heart" style="color: red;"></i> to code.</h2>
    </div>

    <nav id="side-nav">
        <ul>
            <li>
                <a href='#about'>About<span>who am i</span></a>
            </li>
            <li>
                <a href='#experience'>Experience<span>past experiences</span></a>
            </li>
            <li>
                <a href='#projects'>Projects<span>my personal projects</span></a>
            </li>
            <li>
                <a href='#contact'>Contact<span>send me a word</span></a>
            </li>
        </ul>
    </nav>


    <div class="social" id="top-social">

    </div>
</header>

<main>
    <div class="w3-section" id="about">
        <h2 class="intro">Hey</h2>
        <span class="sejal">I am Pushkar</span>
        <p>Currently studying Computer Science & Engineering at VVCE, Mysuru.</p>
        <p>Passionate backend developer and server administrator. Also develops Linux desktop apps, Android apps, and
            CLI tools.</p>
        <p>Loves contributing to open source and helping others to learn the language of machines.</p>
        <p></p>
        <p></p>

        <blockquote class="w3-panel w3-center"  id="center-qoute">
            <p class="w3-xlarge w3-serif"> <b><i>Get up every morning, imagine a future then make it happen.</i></b></p>
        </blockquote>
    </div>

    <div class="w3-section dark-bg" id="skills">
        <br/>
        <h2 class="intro">My Passionate </h2>
        <span class="sejal">SKILLS</span>

        <br/>

        <div class="w3-row" id="wrapper">

            <div class="w3-container w3-quarter skill-list" id="skill-set-a">
                <h3>Backend Development</h3>
                <h3>RESTful Apis</h3>
                <h3>PHP</h3>
                <h3>Laravel</h3>
                <h3>Symfony</h3>
                <h3>Javascript</h3>
                <h3>jQuery</h3>
                <h3>Node.js</h3>
                <h3>Express</h3>
            </div>

            <div class="w3-container w3-quarter skill-list" id="skill-set-b">
                <h3>Android Development</h3>
                <h3>Desktop Applications</h3>
                <h3>CLI tools development</h3>
                <h3>C++</h3>
                <h3>Java</h3>
                <h3>Python</h3>
                <h3>Go</h3>
                <h3>Kotlin</h3>
            </div>

            <div class="w3-container w3-quarter skill-list" id="skill-set-c">
                <h3>Linux Admin</h3>
                <h3>AWS</h3>
                <h3>Apache</h3>
                <h3>MySQL</h3>
                <h3>PostgreSQL</h3>
                <h3>MongoDB</h3>
                <h3>Redis</h3>
                <h3>Firebase</h3>
                <h3>Heroku</h3>
            </div>

            <div class="w3-container w3-quarter skill-list" id="skill-set-d">
                <h3>Algorithms & Data Structures</h3>
                <h3>Git</h3>
                <h3>JSON</h3>
                <h3>Oauth 2.0</h3>
            </div>
        </div>
        <br/> <br/><br/>
    </div>


    <div class="w3-white w3-section" id="experience">
        <h2 class="intro">My Past</h2>
        <span class="sejal">EXPERIENCES</span>
        <div class="w3-row">
            <div class="w3-half ">

                <div class="w3-container w3-margin w3-card-4 w3-teal inner">

                    <h3>Server Administrator and Web Developer</h3>
                    <h4><a href="https://adversize.in" target="_blank" rel="noopener external">Adversize Pvt. Ltd.</a>
                    </h4>
                    <p class="w3-center">March, 18 - Present</p>
                    <div>
                        <button class="w3-button w3-right w3-card" onclick="displayDetails('adversize');">Details
                        </button>
                        <div id="adversize" class="w3-hide w3-animate-zoom">
                            <h4>Involved in:</h4>
                            <ul class="w3-ul">
                                <li>Desiging a suitable AWS architecture for the stack.</li>
                                <li>Migration of whole stack to AWS.</li>
                                <li>Using AWS DevOPs tools to automate deployment.</li>
                                <li>Managing and maintaing AWS EC2 linux instances.</li>
                            </ul>
                        </div>
                    </div>
                    <br/><br/>
                </div>

            </div>

            <div class="w3-half">

                <div class="w3-container w3-margin w3-card-4 w3-yellow inner">

                    <h3>Server Administrator and Web Developer</h3>
                    <h4><a href="https://omniaparatus.co.in/" target="_blank" rel="noopener external">Omnia Paratus</a>
                    </h4>
                    <p class="w3-center">June, 18 - Present</p>
                    <div>
                        <button class="w3-button w3-right w3-card" onclick="displayDetails('omnia');">Details</button>
                        <div id="omnia" class="w3-hide w3-animate-zoom">
                            <h4>Involved in:</h4>
                            <ul class="w3-ul">
                                <li>Desiging a suitable AWS architecture for the stack.</li>
                                <li>Migration of whole stack to AWS.</li>
                                <li>Using AWS DevOPs tools to automate deployment.</li>
                                <li>Managing and maintaing AWS EC2 linux instances.</li>
                            </ul>
                        </div>
                    </div>
                    <br/><br/>
                </div>
            </div>
        </div>
    </div>

    <div class="w3-section" id="projects">

        <h2 class="intro">My priceless</h2>
        <span class="sejal">PROJECTS</span>
        <!--CONTENT GENERATED THROUGH JS-->
    </div>

    <div class="w3-section w3-white" id="">

    </div>


    <div class="w3-margin-top dark-bg" id="contact">
        <div class="w3-container">
            <h2 class="intro">Get in touch</h2>
            <span class="sejal">Let's do something great together.</span>

            <br/><br/>

            <div class="w3-row">
                <div class="w3-col s12 m6">

                    <div class="w3-container w3-card-4">
                        <br/>
                        <form class="contact-form">

                            <label for="inputName">
                                <input type="text" name="name" class="w3-input w3-round-large" id="inputName"
                                       placeholder="Your Name" required/>
                            </label><br/>

                            <label for="inputEmail">
                                <input type="email" name="email" class="w3-input w3-round-large" id="inputEmail"
                                       placeholder="abc@xyz.com" required/>
                            </label><br/>

                            <label for="inputSubject">
                                <input type="text" name="subject" class="w3-input w3-round-large" id="inputSubject"
                                       placeholder="Subject" required/>
                            </label><br/>

                            <label for="inputMsg">
                                <textarea name="message" class="w3-input w3-round-large" id="inputMsg"
                                          placeholder="Your Message" required></textarea>
                            </label><br/>

                            <div class="g-recaptcha" data-sitekey="6Lf6fmwUAAAAAG4ZouHlBHg7uBZqPwuU9onaHwn7"></div>

                            <button class="w3-btn w3-blue w3-right">Submit</button>
                        </form>
                        <br/><br/>
                    </div>

                </div>
                <div class="w3-col s12 m6">
                    <br/>
                    <br/>
                    <div class="w3-margin">
                        <h3>CONTACT INFO</h3>
                        <p class="email"><i class="fas fa-at"></i>&nbsp;anandpushkar088@gmail.com</p>
                        <br/>
                        <h3>FOLLOW ME</h3>
                        <div class="social" id="footer-social">
                            <!--CONTENT GENERATED THROUGH JS-->
                        </div>
                    </div>
                </div>

            </div>
            <div class="w3-section"></div>
        </div>
    </div>

</main>

<div class="persist">
    <a href="#top"> <i class="fas fa-chevron-circle-up top"></i> </a>
</div>

<footer>
    <div class="w3-container">
        <h4 class="w3-margin">Copyright &copy; 2018 Pushkar Anand | All rights reserved.</h4>
    </div>
</footer>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/js/social.js" async defer></script>
<script src="/js/projects.js"></script>

<script>
    const displayDetails = function (id) {
        let x = document.getElementById(id);
        if (x.className.indexOf("w3-show") === -1) {
            x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
    };

    $(window).on('scroll', function () {
        let scrollTop = $(this).scrollTop();

        if (scrollTop < 150) {
            $('.persist').hide();
        } else {
            $('.persist').show()
        }
    });
</script>
<!--suppress CssUnknownTarget -->
<script>
    $(document).ready(function () {

        let projectsHTML = "<div class='w3-row'>";
        let count = 0;
        for (let i = 0; i < projects.length; i++) {
            count++;
            let s = '<div class="w3-third">';
            s += '<div class="w3-container w3-card-4 w3-margin project">';
            s += '<img class="project-image" src="/images/transparent.png" title="' + projects[i].name + '" style="width:100%;background:url(\'' + projects[i].img + '\') no-repeat; background-size: cover;background-position: top" />';
            s += '<div class="w3-container w3-center project-title"> <p class="bold">' + projects[i].name + '</p></div>';
            s += '<div class="project-description">' + projects[i].info + '</div><br/>';
            s += '<div class="w3-row"><div class="w3-half"><div class="w3-center w3-margin project-link link"><a target="_blank" rel="noopener external" title="Go to link" href="' + projects[i].link + '" ><i class="fas fa-link" style="font-size: 30px;"></i></a></div></div>';

            if (projects[i].hasOwnProperty('repo')) {
                s += '<div class="w3-half"><div class="w3-center w3-margin project-repo link"><a target="_blank" rel="noopener external" title="Go to repo" href="' + projects[i].repo + '"><i class="fab fa-github" style="font-size: 30px;"></i></a></div></div></div>';
            } else {
                s += '<div class="w3-half w3-center"></div></div>'
            }

            s += '</div></div>';

            projectsHTML += s;

            if (count % 3 === 0 || projects.length === i + 1) {
                projectsHTML += '</div>';
            }

            if (i + 1 !== projects.length && count % 3 === 0) {
                projectsHTML += '<div class="w3-row">';
            }
        }
        $('#projects').append(projectsHTML);
    });
</script>
</body>
</html>