<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name=viewport content="width=device-width, initial-scale=1.0">
    <title>Pushkar Anand: The geek who codes</title>
    <meta name=author content="Pushkar Anand">
    <meta name=keywords content="Pushkar Anand, Pushkar, Anand"/>
    <meta http-equiv=x-ua-compatible content="ie=edge">
    <meta name=theme-color content="#1881f2">
    <meta name=description
          content="A programmer trying to create a mark on the world. Currently pursuing his engineering in computer science he wishes to do something exciting in his life ">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="/css/home.css" rel="stylesheet" type="text/css"/>

</head>
<body>
<header>
    <nav id="burger-menu" role="navigation">
        <label>
            <input type='checkbox'>
            <span class='menu'>
    <span class='hamburger'></span>
  </span>
            <ul>
                <li>
                    <a href='#'>Home</a>
                </li>
                <li>
                    <a href='#'>About</a>
                </li>
                <li>
                    <a href='#'>Work</a>
                </li>
            </ul>
        </label>
    </nav>

    <div id="header-text">
        <h1>Pushkar Anand</h1>
        <h2>The geek who <i class="fas fa-heart" style="color: red;"></i> to code.</h2>
    </div>

    <nav id="side-nav">
        <ul>
            <li>
                <a href='#about'>About<span>who am i</span></a>
            </li>
            <li>
                <a href='#'>Experience<span>past experiences</span></a>
            </li>
            <li>
                <a href='#'>Projects<span>my personal projects</span></a>
            </li>
            <li>
                <a href='#'>Contact<span>send me a word</span></a>
            </li>
        </ul>
    </nav>


    <div id="social">

    </div>
</header>
<main>
    <div id="about">
        <h2>About intro headline</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tincidunt, nulla quis ornare egestas, odio
            lectus
            vehicula nisi, quis volutpat tellus mi vitae quam. Integer sit amet elit luctus ante aliquet porttitor sit
            amet
            et nisl. Vestibulum ac maximus arcu. Ut at tincidunt risus. Aliquam vel diam rhoncus, efficitur tortor ac,
            efficitur risus. Cras interdum eget felis in ullamcorper. Suspendisse ac magna rutrum, pharetra urna vitae,
            condimentum libero. In libero turpis, ornare ac viverra sed, consectetur quis lectus. Curabitur a dapibus
            nibh.
            Donec tellus orci, ultricies ut malesuada id, scelerisque vel velit. Vestibulum et commodo risus, vitae
            volutpat
            tellus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tincidunt, nulla quis ornare egestas, odio
            lectus
            vehicula nisi, quis volutpat tellus mi vitae quam. Integer sit amet elit luctus ante aliquet porttitor sit
            amet
            et nisl. Vestibulum ac maximus arcu. Ut at tincidunt risus. Aliquam vel diam rhoncus, efficitur tortor ac,
            efficitur risus. Cras interdum eget felis in ullamcorper. Suspendisse ac magna rutrum, pharetra urna vitae,
            condimentum libero. In libero turpis, ornare ac viverra sed, consectetur quis lectus. Curabitur a dapibus
            nibh.
            Donec tellus orci, ultricies ut malesuada id, scelerisque vel velit. Vestibulum et commodo risus, vitae
            volutpat
            tellus.</p>
    </div>

    <div id="skills">

    </div>

</main>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/js/social.js" defer></script>
</body>
</html>